.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: white;
}

input {
  text-align: center;
  background-color: lightgray;
  height:30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: lightgray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 0;
}

h3 {
  font-size: 25px;
  line-height: 150px;
  background-color: #CACCE6;
  padding:20px;
  display:inline;
  border: 3px solid;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
  font-style:italic;
}

ul {
  list-style-type: none;
  float: left;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

table {
  margin: auto;
  border-collapse: collapse;
}

table tr:nth-child(odd) td{
  background-color: #EFF2F3;
}
table tr:nth-child(even) td{
  background-color: #CCCCCC;
}

td {
  border: 1px solid black;
  height:30px;
  width:200px;
}


.boutons li {
  border: 2px solid black;
  margin-left: 20px;
  margin-top: 25px;
  width: 250px;
  height: 50px;
  background-color: #EFF2F3;
  display: flex;
  align-items: center;
  justify-content: center;
}

li:hover {
  background-color: #BBB8CC;
}
